<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1">
	<script src= "https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" />
	<style type="text/css">
		.terminal,
		span {
			--size: 1.0;
		}

		.cmd, .cmd div, .cmd span[data-text]:not(.cmd-inverted):not(.token):not(.emoji), .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span[data-text]:not(.token):not(.inverted):not(.terminal-inverted):not(.cmd-inverted):not(.terminal-error):not(.emoji), .terminal.external [data-text] {
			background-color: #fff;
			color: var(--color,#aaa);
		}

		.web-upload {
			box-shadow: 0px 0px 4px 1px #c7c7c7;
			text-align: center;
			border-radius: 10px;
			padding: 20px;
			position: fixed;
			left: 35%;
			top: 35%;
			z-index: 9999999999;
		}

		.hidden {
			display: none;
		}

	</style>
</head>

<body>
	<template id="greetings">
																Samaritan: A Digital Identity Solution. v0.0.1
															To begin, enter "start"; For help, enter "help"
																																
	   </template>

	   <!-- document uwebsite registry upload modal -->
	  <div class="web-upload hidden">
			<h3>Add your website to the network</h3>
			<p>Please upload your website <code>profileDocument</code> to the network</p>.
			<form>
				<input type="file" accept=".jsonld" onchange="previewFile()">
				<!-- <button onclick="return false">Upload</button> -->
			</form>
			<br>
			<small><button onclick="hide()">cancel</button></small>
	  </div>
	  <script>
		function previewFile() {
			const content = document.querySelector('.content');
			const [file] = document.querySelector('input[type=file]').files;
			const reader = new FileReader();

			reader.addEventListener("load", () => {
				// send the result to the server
				fetch ("/record-access", {
					method: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						'data':  reader.result,
					})
				})
				.then(res => {
					(async function () {
						await res.json().then(res => {
							hide();
							console.log(res);
						});
					})();  
				});
			}, false);

			if (file) 
				reader.readAsText(file);
		}

		function hide() {
			document.querySelector(".web-upload").classList.add("hidden");
		}
		
	  </script>
	   <script src="js/cmd.js"></script>
</body>

</html>
